/************************** About Me Content Styling ***************************/

section#about-me {
	background-color: $codeBGColor;
	height: 100vh;
	// padding: 10rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section#about-me > div > p#about-me-label {
	color: #ffffff;
	@include bodyText(1.2rem, 1.5rem);
}

section#about-me > div > p#about-me-para-one {
	color: $mintLinkColor;
	@include bodyText(1.8rem, 2.5rem);
	font-family: 'Source Sans Pro Light', sans-serif;
	margin-bottom: 4rem;
}

section#about-me > div > p.about-me-text, section#about-me > div > p#contact-details {
	color: #bfb8b8;
	@include bodyText(1.4rem, 2.5rem);
}

section#about-me > div > p#about-text-spacing {
	margin-bottom: 2.5rem;
}

section#about-me > div > p#contact {
	color: #ffffff;
	@include bodyText(1.2rem, 1.5rem);
	margin-top: 5rem;
	width: 53.489rem;
}

.blue-text {
	color: #5fd9f2;
}

footer#align-copyright {
	text-align: center;
}

footer p#footer-text {
    color: #191D24;
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
    letter-spacing: 0.1em;
}

